In [21]:
import pyspark
import pyspark.sql  as pyspark_sql
import pyspark.sql.types as pyspark_types
import pyspark.sql.functions  as F
from pyspark import SparkContext, SparkConf

In [22]:
conf = SparkConf().set("spark.ui.port", "4050")
sc = pyspark.SparkContext(conf=conf)
spark = pyspark_sql.SparkSession.builder.getOrCreate()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at C:\Users\DELL\AppData\Local\Temp\ipykernel_11144\2229581302.py:2

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, dense_rank,desc
from pyspark.sql.window import Window

# Initialize Spark session
spark = SparkSession.builder.appName("FIFA").getOrCreate()

In [ ]:
df = spark.read.csv('california_cities.csv',header=True)
df=df.drop(F.col('_c0'))

In [23]:
df.show()

+--------------+------------------+-------------------+-----------+------------+----------------+------------------+------------------+--------------------+------------------+------------------+--------------------+
|          city|              latd|              longd|elevation_m|elevation_ft|population_total|  area_total_sq_mi|   area_land_sq_mi|    area_water_sq_mi|    area_total_km2|     area_land_km2|      area_water_km2|
+--------------+------------------+-------------------+-----------+------------+----------------+------------------+------------------+--------------------+------------------+------------------+--------------------+
|      Adelanto| 34.57611111111112|-117.43277777777779|      875.0|      2871.0|           31765|            56.027| 56.00899999999999|0.018000000000000002|           145.107|           145.062|               0.046|
|   AgouraHills| 34.15333333333333|-118.76166666666667|      281.0|       922.0|           20330|             7.822| 7.792999999999999|0.028999999999999998|             20.26|            20.184|               0.076|
|       Alameda| 37.75611111111111|-122.27444444444444|       NULL|        33.0|           75467|             22.96|10.610999999999999|              12.349|            59.465|            27.482|              31.983|
|        Albany|37.886944444444445|-122.29777777777778|       NULL|        43.0|           18969|             5.465|             1.788|               3.677|            14.155|             4.632|               9.524|
|      Alhambra|34.081944444444446|           -118.135|      150.0|       492.0|           83089| 7.632000000000001|             7.631|               0.001|            19.766|19.762999999999998|               0.003|
|    AlisoViejo|            33.575|-117.72555555555556|      127.0|       417.0|           47823|             7.472|             7.472|                 0.0|            19.352|            19.352|                 0.0|
|       Alturas| 41.48722222222222|          -120.5425|     1332.0|      4370.0|            2827|             2.449|             2.435|0.013999999999999999|6.3420000000000005|             6.306|0.036000000000000004|
|    AmadorCity|38.419444444444444|-120.82416666666666|      280.0|       919.0|             185|             0.314|             0.314|                 0.0|             0.813|             0.813|                 0.0|
|AmericanCanyon|38.168055555555554|          -122.2525|       14.0|        46.0|           19454|             4.845|             4.837|               0.008|            12.548|12.527000000000001|               0.021|
|       Anaheim|33.836111111111116|-117.88972222222223|       48.0|       157.0|          336000| 50.81100000000001|            49.835|               0.976|             131.6|129.07299999999998|  2.5269999999999997|
|      Anderson|40.452222222222225|-122.29666666666667|      132.0|       430.0|            9932|              6.62| 6.372000000000001|               0.248|            17.145|            16.504|               0.642|
|    AngelsCamp|38.068333333333335|-120.53972222222222|      420.0|      1378.0|            3836|             3.637|             3.628|0.009000000000000001|             9.421|             9.397|               0.024|
|       Antioch|            38.005|-121.80583333333333|       13.0|        43.0|          107100|29.083000000000002|            28.349|  0.7340000000000001|            75.324|            73.422|               1.902|
|   AppleValley|34.516666666666666|-117.21666666666667|      898.0|      2946.0|           69135|            73.523|            73.193|                0.33|           190.426|            189.57|               0.856|
|       Arcadia|34.132777777777775| -118.0363888888889|      147.0|       482.0|           56364|            11.133|            10.925| 0.20800000000000002|            28.836|            28.296|                0.54|
|        Arcata| 40.86638888888889|-124.08277777777778|       NULL|        23.0|           17231|10.994000000000002| 9.097000000000001|  1.8969999999999998|28.473000000000003|            23.561|               4.912|
|  ArroyoGrande| 35.12083333333334|-120.58666666666666|       36.0|       118.0|           17716|             5.835|             5.835|                 0.0|            15.113|            15.113|                 0.0|
|       Artesia|33.867222222222225|-118.08055555555555|       16.0|        52.0|           16522|             1.621|             1.621|                 0.0|             4.197|             4.197|                 0.0|
|         Arvin| 35.20916666666667|-118.82833333333333|      137.0|       449.0|           19304|             4.819|             4.819|                 0.0|12.482000000000001|12.482000000000001|                 0.0|
|    Atascadero| 35.48416666666667|          -120.6725|      268.0|       879.0|           28310|             26.13|            25.641|               0.489|            67.675| 66.40899999999999|               1.265|
+--------------+------------------+-------------------+-----------+------------+----------------+------------------+------------------+--------------------+------------------+------------------+--------------------+
only showing top 20 rows

1. Find out the missing values in each column and store them in the variable col_missing_values

In [24]:
col_missing_values={}
from pyspark.sql.functions import col,isnan,when,count
df2 = df.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in df.columns])
df2.show()

+----+----+-----+-----------+------------+----------------+----------------+---------------+----------------+--------------+-------------+--------------+
|city|latd|longd|elevation_m|elevation_ft|population_total|area_total_sq_mi|area_land_sq_mi|area_water_sq_mi|area_total_km2|area_land_km2|area_water_km2|
+----+----+-----+-----------+------------+----------------+----------------+---------------+----------------+--------------+-------------+--------------+
|   0|   0|    0|         48|          12|               0|               2|              0|               1|             5|            4|             4|
+----+----+-----+-----------+------------+----------------+----------------+---------------+----------------+--------------+-------------+--------------+

In [25]:
df.describe().show()

+-------+-----------+------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+
|summary|       city|              latd|              longd|      elevation_m|      elevation_ft|  population_total|  area_total_sq_mi|   area_land_sq_mi|  area_water_sq_mi|   area_total_km2|    area_land_km2|    area_water_km2|
+-------+-----------+------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+
|  count|        482|               482|                482|              434|               470|               482|               480|               482|               481|              477|              478|               478|
|   mean|       NULL|36.095088081604395|-119.83771392577232|180.4167050691244| 567.1687234042553|64894.933609958505|18.442183333333325|16.840981327800833|1.5896299376299374|46.75328301886789|43.54702092050211| 3.125178242677823|
| stddev|       NULL|2.2980059050453243| 2.1476763855572965|309.5318252490447|1001.2657219060482|203204.09667585444| 36.36323029096668|  32.6946472833554| 9.490386185737393|90.97226915750497|84.93302153206136|11.562269106426337|
|    min|   Adelanto| 32.57833333333333|-114.59638888888888|            -12.0|            -180.0|                 1|             0.314|             0.314|               0.0|            0.813|            0.813|               0.0|
|    max|YuccaValley|            41.965|-124.26333333333334|             99.0|            7880.0|             99478|            94.975|            97.915|             9.877|           97.475|           97.699| 9.722000000000001|
+-------+-----------+------------------+-------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+

Find the total missing values in the whole dataset and store the number in df_missing_values

In [26]:
first_row = df2.head()  # Get the first row as a Row object
sum_first_row = sum(first_row)  # Sum the values of the first row
sum_first_row

76

In [27]:
i = 0
sum_value = 0  # Changed variable name from 'sum' to 'sum_value' to avoid conflict with built-in 'sum' function
for c in range(len(df2.columns)):
    sum_value += df2.collect()[0][i]
    i += 1

print(sum_value)

76


Drop the column area_water_percent as it has the most of its values missing

In [28]:
df= df.drop('area_water_percent')

In [29]:
df.show()

+--------------+------------------+-------------------+-----------+------------+----------------+------------------+------------------+--------------------+------------------+------------------+--------------------+
|          city|              latd|              longd|elevation_m|elevation_ft|population_total|  area_total_sq_mi|   area_land_sq_mi|    area_water_sq_mi|    area_total_km2|     area_land_km2|      area_water_km2|
+--------------+------------------+-------------------+-----------+------------+----------------+------------------+------------------+--------------------+------------------+------------------+--------------------+
|      Adelanto| 34.57611111111112|-117.43277777777779|      875.0|      2871.0|           31765|            56.027| 56.00899999999999|0.018000000000000002|           145.107|           145.062|               0.046|
|   AgouraHills| 34.15333333333333|-118.76166666666667|      281.0|       922.0|           20330|             7.822| 7.792999999999999|0.028999999999999998|             20.26|            20.184|               0.076|
|       Alameda| 37.75611111111111|-122.27444444444444|       NULL|        33.0|           75467|             22.96|10.610999999999999|              12.349|            59.465|            27.482|              31.983|
|        Albany|37.886944444444445|-122.29777777777778|       NULL|        43.0|           18969|             5.465|             1.788|               3.677|            14.155|             4.632|               9.524|
|      Alhambra|34.081944444444446|           -118.135|      150.0|       492.0|           83089| 7.632000000000001|             7.631|               0.001|            19.766|19.762999999999998|               0.003|
|    AlisoViejo|            33.575|-117.72555555555556|      127.0|       417.0|           47823|             7.472|             7.472|                 0.0|            19.352|            19.352|                 0.0|
|       Alturas| 41.48722222222222|          -120.5425|     1332.0|      4370.0|            2827|             2.449|             2.435|0.013999999999999999|6.3420000000000005|             6.306|0.036000000000000004|
|    AmadorCity|38.419444444444444|-120.82416666666666|      280.0|       919.0|             185|             0.314|             0.314|                 0.0|             0.813|             0.813|                 0.0|
|AmericanCanyon|38.168055555555554|          -122.2525|       14.0|        46.0|           19454|             4.845|             4.837|               0.008|            12.548|12.527000000000001|               0.021|
|       Anaheim|33.836111111111116|-117.88972222222223|       48.0|       157.0|          336000| 50.81100000000001|            49.835|               0.976|             131.6|129.07299999999998|  2.5269999999999997|
|      Anderson|40.452222222222225|-122.29666666666667|      132.0|       430.0|            9932|              6.62| 6.372000000000001|               0.248|            17.145|            16.504|               0.642|
|    AngelsCamp|38.068333333333335|-120.53972222222222|      420.0|      1378.0|            3836|             3.637|             3.628|0.009000000000000001|             9.421|             9.397|               0.024|
|       Antioch|            38.005|-121.80583333333333|       13.0|        43.0|          107100|29.083000000000002|            28.349|  0.7340000000000001|            75.324|            73.422|               1.902|
|   AppleValley|34.516666666666666|-117.21666666666667|      898.0|      2946.0|           69135|            73.523|            73.193|                0.33|           190.426|            189.57|               0.856|
|       Arcadia|34.132777777777775| -118.0363888888889|      147.0|       482.0|           56364|            11.133|            10.925| 0.20800000000000002|            28.836|            28.296|                0.54|
|        Arcata| 40.86638888888889|-124.08277777777778|       NULL|        23.0|           17231|10.994000000000002| 9.097000000000001|  1.8969999999999998|28.473000000000003|            23.561|               4.912|
|  ArroyoGrande| 35.12083333333334|-120.58666666666666|       36.0|       118.0|           17716|             5.835|             5.835|                 0.0|            15.113|            15.113|                 0.0|
|       Artesia|33.867222222222225|-118.08055555555555|       16.0|        52.0|           16522|             1.621|             1.621|                 0.0|             4.197|             4.197|                 0.0|
|         Arvin| 35.20916666666667|-118.82833333333333|      137.0|       449.0|           19304|             4.819|             4.819|                 0.0|12.482000000000001|12.482000000000001|                 0.0|
|    Atascadero| 35.48416666666667|          -120.6725|      268.0|       879.0|           28310|             26.13|            25.641|               0.489|            67.675| 66.40899999999999|               1.265|
+--------------+------------------+-------------------+-----------+------------+----------------+------------------+------------------+--------------------+------------------+------------------+--------------------+
only showing top 20 rows

Drop the rows having missing values and store the resulting DataFrame in the variable df_narows_dropped

In [30]:
df_narows_dropped=df.dropna()

Drop Rows with More Than 5 Missing Values

In [31]:
df_rows_dropped=df.na.drop(how='any', thresh=5, subset=None)

Eliminate the columns in the DataFrame that contain missing values. Store the resulting DataFrame in the variable df_nacols_dropped.

In [32]:
df3 = df.select([

  count(when(F.col(co).isNull(),co)).alias(co)  
for co in df.columns
])

df3.collect()[0]
bag=[]
idx=0
df_nacols_dropped=df
for idx in range(len(df.columns)):
    if df3.collect()[0][idx]!=0:
        bag.append(df.columns[idx])
for el in bag:
   df_nacols_dropped=df_nacols_dropped.drop(el)

In [33]:
df_nacols_dropped= df_nacols_dropped.select([

  count(when(F.col(co).isNull(),co)).alias(co)  
for co in df_nacols_dropped.columns
])
df_nacols_dropped.show()

+----+----+-----+----------------+---------------+
|city|latd|longd|population_total|area_land_sq_mi|
+----+----+-----+----------------+---------------+
|   0|   0|    0|               0|              0|
+----+----+-----+----------------+---------------+

Fill the 50 missing values in elevation_m with -999. Store your result in the variable filled_elevation_m

In [34]:
print(df.select('elevation_ft').describe().show())
df4=df.na.fill(value=6,subset=['elevation_ft'])

+-------+------------------+
|summary|      elevation_ft|
+-------+------------------+
|  count|               470|
|   mean| 567.1687234042553|
| stddev|1001.2657219060482|
|    min|            -180.0|
|    max|            7880.0|
+-------+------------------+

None

In [35]:
df4.select('elevation_ft').describe().show()

+-------+-----------------+
|summary|     elevation_ft|
+-------+-----------------+
|  count|              482|
|   mean|553.1977178423236|
| stddev|992.5636617124128|
|    min|           -180.0|
|    max|           7880.0|
+-------+-----------------+

In [36]:

# Check the schema of the DataFrame
df.printSchema()

# If the column is not of the correct numeric type, cast it
df = df.withColumn("elevation_ft", col("elevation_ft").cast("double"))

# Verify schema after casting
df.printSchema()

# Fill null values in the 'elevation_ft' column with a numeric value, e.g., 6
df3 = df.na.fill(value=699933, subset=['elevation_ft'])

# Print description after filling nulls
print("Description after filling nulls:")
df3.select('elevation_ft').describe().show()

root
 |-- city: string (nullable = true)
 |-- latd: string (nullable = true)
 |-- longd: string (nullable = true)
 |-- elevation_m: string (nullable = true)
 |-- elevation_ft: double (nullable = true)
 |-- population_total: string (nullable = true)
 |-- area_total_sq_mi: string (nullable = true)
 |-- area_land_sq_mi: string (nullable = true)
 |-- area_water_sq_mi: string (nullable = true)
 |-- area_total_km2: string (nullable = true)
 |-- area_land_km2: string (nullable = true)
 |-- area_water_km2: string (nullable = true)

root
 |-- city: string (nullable = true)
 |-- latd: string (nullable = true)
 |-- longd: string (nullable = true)
 |-- elevation_m: string (nullable = true)
 |-- elevation_ft: double (nullable = true)
 |-- population_total: string (nullable = true)
 |-- area_total_sq_mi: string (nullable = true)
 |-- area_land_sq_mi: string (nullable = true)
 |-- area_water_sq_mi: string (nullable = true)
 |-- area_total_km2: string (nullable = true)
 |-- area_land_km2: string (nullable = true)
 |-- area_water_km2: string (nullable = true)

Description after filling nulls:
+-------+------------------+
|summary|      elevation_ft|
+-------+------------------+
|  count|               482|
|   mean|17978.766182572617|
| stddev|109085.17779983826|
|    min|            -180.0|
|    max|          699933.0|
+-------+------------------+

In [40]:
from pyspark.sql.functions import mean
#define function to fill null values with column mean
def fillna_mean(df, include=set()): 
    means = df.agg(*(
        mean(x).alias(x) for x in df.columns if x in include
    ))
# getting the first row and then transforming it into dictionary and then mapping
    return df.fillna(means.first().asDict())

#fill null values with mean in specific columns
df = fillna_mean(df, ['area_land_km2', 'latd'])

In [41]:
include=df.columns
means = df.agg(*(
        F.mean(x).alias(x) for x in df.columns if x in include 
    ))

In [42]:
means.show()

+----+------------------+-------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+
|city|              latd|              longd|      elevation_m|     elevation_ft|  population_total|  area_total_sq_mi|   area_land_sq_mi|  area_water_sq_mi|   area_total_km2|    area_land_km2|   area_water_km2|
+----+------------------+-------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+
|NULL|36.095088081604395|-119.83771392577232|180.4167050691244|567.1687234042553|64894.933609958505|18.442183333333325|16.840981327800833|1.5896299376299374|46.75328301886789|43.54702092050211|3.125178242677823|
+----+------------------+-------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+